<div ng-include="'partials/navbar.html'"></div>


<div ng-controller="UserCtrl">
  <div class="container">
    <div class="container">
      <div class="row vertical-offset-100">
        <div class="col-md-4 col-md-offset-4">
          <div class="panel panel-primary">

            <div class="panel-heading">
              <h3 class="panel-title">Sign Up</h3>
            </div>
            <div class="panel-body">
              <form ng-submit="signUp(signupDataForm.email, signupDataForm.firstname, signupDataForm.lastname, signupDataForm.password, signupDataForm.confirmPassword)" accept-charset="UTF-8" role="form">
                <fieldset>

                  <div class="form-group">
                    <label for="email">Email (*)</label>
                    <input class="form-control" ng-model="signupDataForm.email" placeholder="example@domain.com" name="email" type="text" required>
                  </div>

                  <div class="form-group">
                    <label for="firstname">Firstname</label>
                    <input class="form-control" ng-model="signupDataForm.firstname" placeholder="first name" name="firstname" type="text">
                  </div>

                  <div class="form-group">
                    <label for="lastname">Lastname</label>
                    <input class="form-control" ng-model="signupDataForm.lastname" placeholder="last name" name="lastname" type="text">
                  </div>

                  <div class="form-group">
                    <label for="password">Password (*)</label>
                    <input class="form-control" ng-model="signupDataForm.password" placeholder="******" name="password" type="password" required>
                  </div>

                  <div class="form-group">
                    <label for="confirmPassword">Confirm Password (*)</label>
                    <input class="form-control" ng-model="signupDataForm.confirmPassword" placeholder="******" name="confirmPassword" type="password" required>
                  </div>

                  <input type="submit" class="btn btn-primary" id="submit" value="Sign Up">
                  <a ng-click="cancelSignUp()" class="btn btn-default">Cancel</a>

                </fieldset>
              </form>
            </div>
            <div class="panel-footer">
              <p class="help-block center-block">(*) next to each field indicates required fields.</p>
            </div>
          </div>
        </div>
      </div>
    </div>


  </div> <!-- end container -->
</div> <!-- end UserCtrl -->
